@model IEnumerable<WebApplication1.Models.Employee>

@{
    ViewBag.Title = "AllEmployee";
}

<h2>All Employees Data</h2>
<p>
    @Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-primary"})
</p>
<table class="table table-hover table-responsive" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Eid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ecity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edep)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Eid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ecity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edep)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Eid },new { @class="btn btn-primary"}) |
            @Html.ActionLink("Details", "Details", new {  id=item.Eid  }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Eid }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
